:root {
  --primary-color: #4d5ae5;
  --secondary-color: #434455;
  --accent-color: #404bbf;
  --container-color: #f5f4fa;
  --footer-color: #2f303a;
  --text-color: #2e2f42;
  --text-color-light: #757575;
  --text-color-white: #ffffff;

  /*========== font  ==========*/
  --body-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}

body {
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: var(--secondary-color);
  background-color: var(--text-color-white);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.logo-link {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
  text-decoration: none;
}

.logo-span {
  color: var(--text-color);
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.contacts-address {
  font-style: normal;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.hero-section {
  background-color: var(--text-color);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color-white);
}

.hero-button {
  background-color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--text-color-white);
  cursor: pointer;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color);
}

.features-section {
}

.features-title {
}

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.team-section {
  background-color: #f4f4fd;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-color);
}

.team-item {
  background-color: var(--text-color-white);
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-color);
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.site-footer {
  background-color: var(--text-color);
}

.footer-logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-bottom: 16px;
}

.logo-studio {
  color: #f4f4fd;
  text-transform: uppercase;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  font-size: 16px;
  margin: 0;
}
