:root {
  --primary-color: #4d5ae5;
  --secondary-color: #434455;
  --accent-color: #404bbf;
  --container-color: #f5f4fa;
  --footer-color: #2f303a;
  --text-color: #2e2f42;
  --text-color-light: #757575;
  --text-color-white: #ffffff;

  /*========== font  ==========*/
  --body-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: var(--secondary-color);
  background-color: var(--text-color-white);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 1158px;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 25px;
  padding-bottom: 25px;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo-link {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
  text-decoration: none;
  margin-right: 76px;
}

.logo-span {
  color: var(--text-color);
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.contacts-address {
  font-style: normal;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.hero-section {
  background-color: var(--text-color);
  padding: 188px 0px;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color-white);
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-button {
  background-color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--text-color-white);
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color);
}

.features-section {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  flex-basis: calc((100% - 72px) / 4);
}

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-bottom: 8px;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-color);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team-item {
  background-color: var(--text-color-white);
  border-radius: 0px 0px 4px 4px;
}

.team-container {
  padding: 32px 0;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 8px;
}

.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  text-align: center;
}

.portfolio-section {
  padding: 120px 0;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-color);
}

.portfolio-list {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}

.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.site-footer {
  background-color: var(--text-color);
  padding: 100px 0;
}

.footer-logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: block;
  margin-bottom: 16px;
  display: inline-block;
}

.logo-studio {
  color: #f4f4fd;
  text-transform: uppercase;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  font-size: 16px;
  margin: 0;
  max-width: 264px;
}
